<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant and cafe catalogue for you">
    <meta name="theme-color" content="#EEE3CB"/>
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="manifest" href="./app.webmanifest">
    <script src="https://kit.fontawesome.com/f5e297d519.js" crossorigin="anonymous"></script>

    <title>Feast Finder</title>
</head>
<body>
    <a class="skip__link" href="#/content">Skip to Content</a>
    <header class="app-bar">
        <div class="app-bar__brand">
            <h1>Feast Finder</h1>
        </div>
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/perdyy/">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <p>Copyright ©️ 2023 - Feast Finder</p>
    </footer>
</body>
</html>
